	<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center">
		<li ngbNavItem="home">
			<a  type="button" class="btn btn-outline-dark" ngbNavLink>Public</a>
			<ng-template ngbNavContent>
				<p>



Public Posts





				</p>
			</ng-template>
		</li>
		<li ngbNavItem="about">
			<a  type="button" class="btn btn-outline-dark" ngbNavLink>About</a>
			<ng-template ngbNavContent>
				<p>
				About placeholder
				</p>
			</ng-template>
		</li>
		<li ngbNavItem="register">
			<a  type="button" class="btn btn-outline-dark" ngbNavLink>Private</a>
			<ng-template ngbNavContent>
		  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" id="email" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control" id="password" name="password" ngModel><hr />
      </div>
      <br>
      <button  type="submit" class="btn btn-outline-primary" >Enter</button>
    </form>
			</ng-template>
		</li>
	</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
